body {
  background-color: #a5d3f2;
  position: sticky;
}

.quotes {
  font-family: 'Kiwi Maru', serif;
}

.quotes-container {
  background-color: white;
  max-width: 75%;
  padding-left: 150px;
  max-height: 25%;
}
